
				<!-- <div class="indi-cont-in">
					<div class="clearfix">
						<div class="col-xs-9 col-xs-offset-3 rel">
							<p>Roles and responsibilities are not defined and communicated to both internal and external stakeholders.</p>
							<p>Less than 50% of positions are filled and fully functional.</p>
							<div class="flip-cont">
								<div class="flip">
									<p>ACQUIRING</p>
									<span>D</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="indi-cont-in">
					<div class="clearfix">
						<div class="col-xs-9 col-xs-offset-3 rel">
							<p>Roles and responsibilities are not well-defined and are only communicated to either internal or external stakeholders.</p>
							<p>At least 50% of positions are filled and fully functional</p>
							<div class="flip-cont">	
								<div class="flip">
									<p>APPROACHING</p>
									<span>C</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="indi-cont-in">
					<div class="clearfix">
						<div class="col-xs-9 col-xs-offset-3 rel">
							<p>Roles and responsibilities are well-defined but are only communicated to either internal or external stakeholders.</p>
							<p>At least 80% of positions are filled and fully functional</p>
							<div class="flip">
								<p>PROGRESSING</p>
								<span>B</span>
							</div>
						</div>
					</div>
				</div>
				<div class="indi-cont-in">
					<div class="clearfix">
						<div class="col-xs-9 col-xs-offset-3 rel">
							<p>Roles and responsibilities are well-defined and properly communicated to both internal and external stakeholders.</p>
							<p>All positions are filled and fully functional</p>
							<div class="flip">
								<p>ACHIEVED STANDARDS</p>
								<span>A</span>
							</div>
						</div>
					</div>
				</div> -->