@font-face{
  font-family: 'Raleway';/*src: url(../fonts/raleway/Raleway-Black.ttf);src: url(../fonts/raleway/Raleway-BlackItalic.ttf);src: url(../fonts/raleway/Raleway-Bold.ttf);src: url(../fonts/raleway/Raleway-BoldItalic.ttf);src: url(../fonts/raleway/Raleway-ExtraBold.ttf);src: url(../fonts/raleway/Raleway-ExtraBoldItalic.ttf);src: url(../fonts/raleway/Raleway-ExtraLight.ttf);src: url(../fonts/raleway/Raleway-ExtraLightItalic.ttf);src: url(../fonts/raleway/Raleway-Italic.ttf);src: url(../fonts/raleway/Raleway-Light.ttf);src: url(../fonts/raleway/Raleway-LightItalic.ttf);src: url(../fonts/raleway/Raleway-Medium.ttf);src: url(../fonts/raleway/Raleway-MediumItalic.ttf);*/src: url(../fonts/raleway/Raleway-Regular.ttf);/*src: url(../fonts/raleway/Raleway-SemiBold.ttf);src: url(../fonts/raleway/Raleway-SemiBoldItalic.ttf);src: url(../fonts/raleway/Raleway-Thin.ttf);src: url(../fonts/raleway/Raleway-ThinItalic.ttf);*/
  /*src: url(../fonts/raleway/Raleway-Thin.ttf);*/
  /*src: url(../fonts/raleway/Raleway-Medium.ttf);*/
}

@font-face{
  font-family: 'Karma';/*src: url(../fonts/karma/Karma-Bold.ttf);src: url(../fonts/karma/Karma-Light.ttf);src: url(../fonts/karma/Karma-Medium.ttf);*/src: url(../fonts/karma/Karma-Regular.ttf);/*src: url(../fonts/karma/Karma-SemiBold.ttf);*/
}

body{
  overflow-x: hidden;
  font-family: 'Raleway', serif;
  background-color: #e0e0e0;

}
h1, h2, h3, h4, h5, h6{
  font-family: 'Karma', serif;
}
ol, ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a:hover, a:focus{
  text-decoration: none;
}
hr{
  border-color: #758a9a;
}
.header-left.headstyle{
    left: 0;
    top: 0;
    z-index: 1;
}
.inline-block.imgseed{
  margin: 0;
  margin-right: 15px;
}
.sms-wrapper{
  display: table;height: 100%;
}
.sms-subwrapper{
  height:  100%;display:  table-cell;vertical-align:  middle;
}
.copyright{
    color: #758a9a;
    font-size: 15px;
    font-family: raleway;
    text-align: center;
    letter-spacing: 2px;
}
.scorecard-tr > th{
text-align: center;
}
.loaderwrapper {
    text-align:  center;
}

img.loaderimg {
    width: 80px;
}
.loadercont{
  background: transparent;
  border: none;
    box-shadow: none;
}
.loader-wrapper {
    position:  absolute;
    height:  100%;
    display: table;
    margin:  auto;
    left:  0;
    right:  0;
    width: 450px;
}

.modal-dialog.loaderdia {
    display: table-cell;
    vertical-align:  middle;
}

.modal-body.loaderbody {
    padding:  0;
    padding-top: 10px;
}
input:focus{
  outline: 0;
  outline-offset: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea{
  text-align: left!important;
  resize: none;
}
.first-school{
  color: green; 
  font-size: 18px;
}
span.btn-icon {
    display: block;
    font-size: 80px;
}
input:focus{
  outline: 0;
  outline-offset: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea{
  text-align: left!important;
  resize: none;
}
tbody.viewtbl {
    display:block;
    height:300px;
    overflow:auto;
}
thead.viewth, tbody.viewtbl tr {
    display:table;
    width:100%;
    table-layout:fixed; /*even columns width , fix width of table too*/
}
thead.viewth {
    width: calc( 100% - 0em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
.first-school{
  color: green; 
  font-size: 18px;
}
.btn{
  color: #fff;
  border: none;
  -webkit-box-shadow: -1px 2px 3px 0px grey;
  -moz-box-shadow: -1px 2px 3px 0px grey;
  box-shadow: -1px 2px 3px 0px grey;
  /*-webkit-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.75);*/
  /*box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.75);*/
}
.btn:hover, .btn:focus, .btn:active{
  color: #fff;
}
.btn-cancel{
  /*background-color: #ff3535;*/
  background-color: #fa8072;
  box-shadow: -1px 2px 3px 0px grey;
}
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active{
  transition: 0.5s;
    /*background-color: rgba(255, 51, 51, 0.66);*/
    background-color: rgba(250, 128, 114, 0.66);
}
.btn-proceed{
  /*background: #03a0ff;*/
  background-color: #778899;
  box-shadow: -1px 2px 3px 0px grey;
}
.btn-proceed:hover, .btn-proceed:focus, .btn-proceed:active{
    transition: 0.5s;
    /*background: rgba(3, 160, 255, 0.6901960784313725);*/
    background: rgba(119, 136, 153, 0.6901960784313725);
}
.btn-warning{
  background-color: #ffcc00;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active{
  background-color: #ffcc00;
}
.btn-create{
  background-color: #21b35d;
  box-shadow: -1px 2px 3px 0px grey;
}
.btn-create:hover, .btn-create:focus, .btn-create:active{
  background-color: rgba(39, 208, 108, 0.78);
  transition: 0.5s;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.float-none{
  float: none;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.bold{
  font-weight: bold;
}
.h-100{
  height: 100%;
}
.rel{
  position: relative;
}
.clearboth{
  clear: both;
}
.w-initial{
  width: initial;
}
.title{
  font-weight: bold;
}
.overflow-hidden{
  overflow: hidden!important;
}
/*page login*/
.page{
  padding: 15px 0;
  color: #000;
  background-color: #e0e0e0;
}
.page-login{
  padding: 0;
}
.page-login h3{
  margin: 15px 0;
  font-size: 22px;
}
.form-user-cont{
  position: relative;
  margin: 20px 0;
  padding: 20px;
  color: #fff;
  background-color: #1d2029;
  border-radius: 20px;
  z-index: 2;
}
.bg-form{
  content: '';
  position: absolute;
  top: 20%;
  bottom: initial;
  left: -2000px;
  right: -2000px;
  height: 60%;
  background-color: #b0e0e6;
  z-index: 1;
}
.form-user .form-group{
  text-align: left;
}
.form-user label{
  font-weight: normal;
}
.form-user input{
  padding: 20px 10px;
  border-radius: 30px;
}
.form-user .btn{
  margin: 15px 5px;
  padding: 10px 40px;
  border-radius: 7px;
}
.form-user .btn-primary{
  background-color: #ff3535;
}
/*page register*/
.form-register-cont{
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.9);
}
.form-register-cont input{
  display: inline-block;
  margin: 7px 0;
  border-radius: 5px;
}
.form-register-cont select{
  height: 42px;
  margin: 7px 0;
  border-radius: 5px;
}
.form-register-cont p{
  color: #666666;
}
.form-register-cont .btn{
  width: 170px;
  margin: 5px 0;
  font-weight: bold;
}
/*header*/
.site-header{
  position: relative;
  -webkit-box-shadow: -1px 3px 3px 0px #6b6b6b;
  -moz-box-shadow: -1px 3px 3px 0px #6b6b6b;
  box-shadow: -1px 3px 3px 0px #6b6b6b;
}
.header-cont{
  position: relative;
  padding: 15px;
  background-color: #ffd700;
}
.header-left{
  display: inline-block;
  padding: 0 15px;
}
.header-left .title {
    float: right;
    margin: 80px 0 0 9px;
    font-size: 13px;
}
.btn-mainmenu{
  float: right;
  margin: 55px 15px 0 0;
}
.header-right{
  z-index: 999;
}
.menu-item{
  position: initial;
}
.menu-item a{
  color: #fff;
  font-weight: bold;
}
.menu-item:nth-child(even) a{
  color: #63b8ff;
}
.submenu{
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.submenu-in li{
  padding: 15px 0;
  background-color: #4682b4;
  border-top: 1px solid #fff;
}
.hasChildHover{
  position: relative;
}
ul.childSubMenu {
    position: absolute;
    width: 100%;
    margin-right: 10px;
    right: 100%;
    top: 0;   
}

ul.childSubMenu li{
    background: #438cca;
}

ul.childSubMenu li:first-child:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    right: -.5em;
    border: medium solid #f95858;
    border-width: 10px 0 10px 10px;
    border-color: #e8000000 transparent transparent #438cca;
}
.hasChildHover ul{
  display: none;
}
.hasChildHover:hover > ul{
  display: block;
  animation: slideInRight 0.3s;
}

@-webkit-keyframes slideInRight {
  from {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*dashboard sidebar*/
.sidebar{
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
}
.sidebar-menu{
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
}
.icon-rafi{
  position: relative;
}
.s-title-in a{
  font-size: 11px;
}
.sidebar-list li{
  position: relative;
  padding: 12px 0 10px 0;
  border-top: 1px solid #cccccc;
}
.sidebar-list li:last-child{
  border-bottom: 1px solid #cccccc;
}
.icon-card:before{
  background-position-x: 185px;
}
.menu-scorecard li:before{
  background-position-x: 138px;
}
/*dashboard right*/
.page-right{
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
}
.dash-table{
  overflow-x: auto;
}
.score{
  margin: 0;
  padding: 10px;
}
.page-right .title, .sidebar .title{
  margin: 0 0 40px;
  padding-bottom: 15px;
  font-size: 20px;
  border-bottom: 1px solid #cccccc;
}
.page-right .btn{
  margin-top: 7px;
}
.quick-links{
  text-align: center;
}
.quick-links-item{
  display: inline-block;
  text-align: center;
}
.quick-links-item a{
  display: inline-block;
  margin-bottom: 5px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #e91e63;
  /*background-color: #cc0099;*/
}
.quick-links-item span{
  display: block;
}
.quick-links-item .create-card{
  color: #fff;
    background-color: #2196f3;
  /*color: #000;
  background-color: #33ffff;*/
}
.quick-links-item .create-account{
  background-color: #00c853;
  /*background-color: #009900;*/
}
.data a{
  color: #fff;
}
.data .col-in{
  color: #fff;
}
.data h2{
  margin-top: 0;
}
.data-1{
  background-color: #00a65a;
}
.data-2{
  background-color: #f39c12;
}
.data-3{
  background-color: #dd4b39;
}
.data-in-top{
  padding: 10px;
}
.data-in-right{
  margin-top: -30px;
  text-align: right;
}
.data-in-btm{
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}
.chart{
  margin: 20px 0;
}
/*page evaluator*/
.icon-rubric{
  padding-left: 55px;
}
.icon-rubric:before{
  width: 46px;
  background-position-x: 92px;
}
.evaluator-right{
  border: 1px solid #030303;
}
.row-evaluator{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.row-evaluator .input-title{
  width: 105px;
  margin: 0;
}
.row-evaluator .col {
  margin-bottom: 15px;
}
.row-evaluator .col input{
  background-color: #cccccc;
  border: 1px solid #030303;
}
.eval-check{
  margin-top: 30px;
}
.eval-check label{
  margin-right: 15px;
}
.eval-check input{
  position: relative;
  width: 18px;
    height: 18px;
  margin: 0;
  padding: 0;
    top: -1px;
    vertical-align: middle; 
}
.evaluator-right .btn-create{
  display: inline-block;
  padding: 10px 65px;
  font-size: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
/*page assesment*/
.form-scorecard .col{
  margin: 10px 0;
}

input[type="checkbox"] {
    width: 50%;
    height: 25px;
    margin:  auto;
}

.assesment-right input[type="number"], .assesment-right input[type="text"] ,.assesment-right input[type="date"], .assesment-right select{
  width: 100%;
  /*height: 28px;*/
  display: block;
  padding: 10px 12px;
  font-size: 14px;
  /*line-height: 1.42857143;*/
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.assesment-right label{
  font-weight: normal;
  color: #000;
  /*margin-top: 8px;*/
}
.assesment-right .w-initial{
  width: initial;
}
/*page template*/
.template-right .modal input{
  display: block;
  margin: 10px 0;
  padding: 0 10px;
}
.template-right .modal-content{
  padding: 15px;
}
.template-right .page-title{
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.temp-details{
  margin-top: 20px;
}
.temp-details label{
  margin-top: 7px;
}
.temp-details input{
  padding: 20px 5px;
}
.modal-action form{
  display: none;
}
.action-form label{
  color: #555;
}
.template-right .action-form input{
  margin-top: 5px;
}
/*Scorecard Success*/
span.no_of_sc {
    font-size: 50px;
    font-weight:  bold;
    color: #ff3535;
}

span.succ_mess {
    font-size:  25px;
    margin-left: 5px;
}

.success-wrapper {
    text-align:  center;
}

.success-wrapper >a{
    padding: 15px;
    margin-right: 10px;
}

.success-wrapper > .message{
    margin-top: -45px;
}

.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

.hide{
  display:hide;
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}


/*-----------------------------------User Control CSS--------------------------------------------*/
.access-controls{
  display: grid; 
  grid-template-columns: auto auto;
}

.label-wrapper{
  white-space: nowrap; 
  display: inherit;
  width: 20%;
}

input.input-wrapper{  
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 1px;
  float: left;
}

ul.main-ul{
  display: grid;
    grid-template-rows: auto auto auto auto;
}

input.ul-sub-menu {
    height: 15px;
    width: 15px;
    margin-top: 5px;
    margin-right: 5px
}

ul.main-ul > li{
margin-bottom: -10px    
}

ul.main-ul > li > label{
    display: inherit;
}

label#hasSub {
    width: 100%;
}

/*-----------------------------------------------------Main Scorecard-------------------------------------------------*/
.clip{
  width: auto;
}
/*-----------------------------------------------------Create Template------------------------------------------------*/

#toggleCollapse{
    background: gainsboro;
    padding: 1px 5px 0px 5px;
    color: gray;
    border-radius: 3px;
    cursor: pointer;
}

#toggleCollapse:hover{
  background: #9a9a9a;
  color: white;
  transition: 0.5s;
}

span[aria-expanded="false"] .fa-caret-up{
  display: none;
}

/*-----------------------------------------------Edit Scorecard-------------------------------------------------------*/

.button-wrapper{
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-column-gap: 10px;
}

.button-wrapper > a{
  margin-top: 0;
}

.button-wrapper > a:nth-child(2), .button-wrapper > a:nth-child(3){
  margin-top: 0;
  padding: 10px;
  font-size: 17px;
}

.button-wrapper > a:nth-child(1){
  padding: 10px;
  font-size: 17px;
}

.alignment{
  display: flex;
}

.alignment > input {
    margin-right: 7px;
    width: 20px;
    height: 20px;
}

label.assignLabel {
    margin-top: 3px;
}

a#cancel{
    box-shadow: -1px 2px 3px 0px grey;
}

td.btn-area > a {
    margin-right: 3px;
}

.btn-area{
  white-space: nowrap;
}

.kname-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 6px;
}

.input-wrapper {
    display: flex;
}

input.kname-input {
  margin-top: 1px;
    height: 20px;
    width: 20px;
}

span.kme-weight {
    margin-left: 3px;
    font-weight: bold;
}

/*-------------------------------------------------------View Scorecard---------------------------------------------*/

h3#listOfEval {
    margin-top: 15px;
}

/*-------------------------------------------------------Sidebar Style----------------------------------------------*/

.no-scorecard{
  text-align: center;
    color: red;
    margin-top: -10px;
}

/*response message*/
.d-none{
  display: none;
}
.page-right .modal{
  overflow: hidden!important;
}
.sub-indi{
  display: none;
}
.page-right select.form-control{
  margin: 10px 0;
}
.page-right select.form-control option{
  color: #555;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.response-ajax{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
}
.response-message{
  position: absolute;
  text-align: center;
  top: initial;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  text-align: center;
}
.response-message .data{
  padding: 15px;
  color: #fff;
  background-color: #00a65a;
  border-radius: 5px;
}
@media(max-width: 480px){
  .form-user .btn{
    padding: 7px 20px;
  }
}
@media(min-width: 480px){
  /*page register*/
  .form-register-cont .btn{
    width: initial;
    padding: 10px 15px;
  }
}
@media(max-width: 768px){
  .header-right{
    position: absolute;
    margin-top: 7px;
    top: 100%;
    bottom: initial;
    left: 0;
    right: 0;
    background-color: #f4c430;

  }
  .menu-item{
    padding: 15px 15px;
    text-align: center;
    border-bottom: 1px solid #4682b4;
  }
}
@media( min-width: 768px){
  .v-align{
    position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
  }
  .d-table{
    display: table;
      height: 100%;
      width: 100%;
  }
  .table-cell{
    display: table-cell;
      vertical-align: middle;
      text-align: center;
  }
  /*header*/
  .header-cont{
    padding: 0 15px;
    text-align: initial;
  }
  .header-left{
    position: absolute;
    top: initial;
    bottom: -20px;
    left: 30px;
    right: initial;
  }
  .btn-mainmenu{
    display: none;
  }
  .mainmenu-collapse{
    display: block;
    height: initial!important;
  }
  .menu-item{
    position: relative;
    padding: 55px 0;
    text-align: center;
    list-style: none;
  }
  .menu-item:nth-child(odd){
    background-color: #4682b4;
  }
  .menu-item:nth-child(even){
    background-color: #ffcc00;
  }
  .menu-item a{
    position: absolute;
    top: initial;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center
  }
  .submenu a{
    position: initial;
  }
}
@media(min-width: 992px){
  /*page register*/
  .form-register-cont .btn{
    padding: 10px 40px;
  }
  /*header*/
  .header-left .title{
      margin: 75px 0 0 46px;
      font-size: 18px;
  }
  /*page template*/
  .template-right .col:nth-child(3){
    clear: both;
  }
  .template-right .col:nth-child(5){
    clear: both;
  }
}
@media(min-width: 1200px){

}
@media(min-width: 1600px){

}

