.access-controls{
	display: grid; 
	grid-template-columns: auto auto;
}

.label-wrapper{
	white-space: nowrap; 
	display: inherit;
	width: 20%;
}

input.input-wrapper{	
	height: 20px;
	width: 20px;
	margin-right: 10px;
	margin-top: 1px;
	float: left;
}

ul.main-ul{
	display: grid;
    grid-template-rows: auto auto auto auto;
}

input.ul-sub-menu {
    height:  15px;
    width:  15px;
}

ul.main-ul > li{
margin-bottom: -10px    
}

ul.main-ul > li > label{
    display: inherit;
}

label#hasSub {
    width: 100%;
}