html, body{
	color: white;
	height: 100%;
	background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.parent-wrapper{
	display: table;
	height: 100%;
}

.login-wrapper{
	display: table-cell;
	vertical-align: middle;
}

.login-wrapper-bg {
    background: rgba(255, 255, 255, 0.37);
    padding: 20px;
}

input.form-control::placeholder {
    color: white;
}

.ul-wrapper{
	list-style-type: none;
}
li:hover{
	background-color: white;
	cursor: pointer;
	color: #444;
}