html,body{
	background: linear-gradient(to bottom,#354354, #4d6990);
	background-repeat:  no-repeat;
	height:  100%;
	color: white;
}
.teacher {
    text-align:  center;
}
.students {
    text-align:  center;
}
.students div{
	background: #496387;
	margin-bottom: 5px;
	padding: 10px;
	font-size: 15px;
}