body{
	overflow-x: hidden;
	font-family: calibri;
	font-size: 13px;
}
h1, h2, h3, h4, h5, h6{
  font-size: 18px;
  color: white;
}
ol, ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
input:focus{
	outline: 0;
	outline-offset: 0;
}
/*b.badge.badge-lg {
    float:  right;
    padding: 5px;
    font-size: 15px;
    margin-top: -3px;
    background: #4e4e4e;
}*/
.findings-wrapper > label {
    width: 100%;
    text-align: center;
    background: #1f9479;
    padding: 5px;
    color: #ffffff;
    font-weight: 100;
    float: left;
    font-size: 15px;
    margin-top: 5px;
}

.findings-wrapper > div > textarea{
    margin-bottom: 15px;
    border-radius: 0;
    border: 1px solid #bbbbbb;
}

img.loaderimg {
    position:  relative;
    top: 0;
    bottom:  0;
    right:  0;
    left:  0;
    width:  20%;
    margin:  auto;
}

.modalcont{
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.modal-header.modalhed {
    padding: 5px;
    background: #3584ff;
    border: 0;
}

img.loaderimg1 {
    position:  relative;
    top: 0;
    bottom:  0;
    right:  0;
    left:  0;
    width: 80%;
    margin:  auto;
}

.loaderwrapper {
    text-align:  left;
}
.loader-wrapper {
    margin:  auto;
}

.modal-body.loaderbody {
    padding: 5px;
}

.loader-wrapper {
    position:  absolute;
    height:  100%;
    display:  table;
    width: 100%;
  }

.modal-dialog.loaderdia {
    display:  table-cell;
    vertical-align:  middle;
}

.modal-content {
    width: 90%;
    margin:  auto;
}
#md {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#mc {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  width: 100%;
}
.btn{
	color: #fff;
	border: none;
	/*-webkit-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.75);*/
}
.btn:hover, .btn:focus, .btn:active{
	color: #fff;
}
.btn-primary{
	background-color: #ff584f;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover{
	background-color: #ff3333;
}
.btn-warning{
	background-color: #ffcc00;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active{
	background-color: #ffcc00;
}
.btn-create{
	background-color: #339900;
}
.btn-create:hover, .btn-create:focus, .btn-create:active{
	background-color: #339900;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.float-none{
	float: none;
}
.inline-block{
	display: inline-block;
}
.btns {
    position: fixed;
    width: 100%;
    bottom: 0;
}
button.btn.btn-proceed {
    background: #0e93e2;
}
/*.btm-cont.controls {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}*/
.block{
	display: block;
}
.bold{
	font-weight: bold;
  color: #656565;
}
.h-100{
	height: 100%;
}
.rel{
	position: relative;
}
.clearboth{
	clear: both;
}
.title{
	font-weight: bold;
}
.page {
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}
.login-wrapper {
    padding-top: 0;
    box-shadow: 0px 3px 8px -4px;
    background: rgba(232, 232, 232, 0.36);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 90%;
    margin: auto;
}
.page.page-login{
	 background: #65a4ce;
    background: linear-gradient(to bottom, #65a4ce, #5cabd3);
}
.logo-cont{
	display: inline-block;
	padding: 20px;
	background: url(../img/bg-logo.png);
}
.logowrapper{
  text-align: left;
  margin-bottom: 20px;
}
img#measureapp{
  width: 120px;
}
img#seed {
  /*width: 120px;    */
  position:  absolute;
    left: 20px;
    top: -40px;
    bottom: initial;
    right:  initial;
}
.page-login h3{
	padding: 15px 0;
	margin: 45px 0 0;
	font-size: 22px;
}
.login-info h3{
	margin-top: 0;
}
.main-title{
	text-transform: capitalize;
	text-align: left;
	/*font-weight: bold;*/
}
span.sm {
    margin: 20px;
}
.form-user .form-group{
	text-align: left;
}
.form-user label{
	color: #fff;
	font-weight: normal;
}
.form-user input[type=text], .form-user input[type=password]{
  padding: 20px 10px;
  background: none;
  color: #525252;
  border: 1px solid #c4e4ff;
}
.form-user input[type=text]:focus, .form-user input[type=password]:focus{
  border: 1px solid #c4e4ff;
  color: #525252;
  transition: 0.8s;
}
.form-user input[type=submit]{
  width: 100%;
  padding: 15px;
  box-shadow: none;
  margin-bottom: 0px;
  margin: auto;
  background: #2b9ab5;
}
.back-button{
    float: left;
    font-size: 25px;
    margin-top: -3px;
    margin-left: 20px;
}
.form-user .btn{
	margin: 15px 5px;
	padding: 10px 40px;
	border-radius: 7px;
}
.page .btn-btm{
	display: block;
	width: 100%;
	/*margin: 15px  0 0;*/
	padding: 20px 0;
	border-radius: 0;
	box-shadow: none;
}
a.btn.btn-primary.btn-btm.bd {
    background: #ff6e66;
}
.form-user-info span{
	color: #ff3333;
}
/*page dashboard*/
.page-dashboard{
	height: 100%;
}
.page-dashboard .main-title, .page-kra .main-title, .page-indi .main-title{
	margin: 0 0 40px;
	padding: 20px 0;
	background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.proj-cont{
  margin-top: 65px;
  padding: 10px 0;
	background-color: rgba(76, 76, 76, 0.03);
  box-shadow: -1px 1px 10px -3px;
}
.proj-cont-right{
	text-align: left;
}
.proj-cont-right span{
	color: #4e4e4e;
	font-weight: initial;
}
.proj-cont-right p{
	font-weight: bold;
	color: #4c4c4c;
}
.proj-cont-right .proj-date{
	display: inline-block;
	font-weight: initial;
}
.proj-cont-right .proj-date:last-child{
	margin-right: 20px;
}
.proj-date span{
	display: block;
}
.page-dashboard .btn-btm{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: initial;
}
.wrapper{
height: 100%;
}
a.fp {
    display: block;
    margin: 10px 0 0;
}
/*page kra*/
.page-kra{
	text-align: center;
	font-size: 14px;
  height: 100%;
}
.page-kra .main-title{
	margin-bottom: 10px;
}
.kra-list .kra-list-cont{
  display: block;
	font-weight: bold;
  color: #fff;
}
.kra-list-cont .col{
  padding: 25px 0;
}
.kra-list-cont .col:first-child{
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    background-color: #5a9cc5;
}
.kra-list-cont .col:first-child span{
  display: inline-block;
}
.kra-list-cont .col .stats{
  position: absolute;
  right: 0;
  bottom: 100%;
  top: initial;
  left: 100%;
}
.visible{
  display: block;
}
.invisible{
  display: none;
}
span.checkstats {
    font-size: 15px;
    font-weight: 600;
}

.label.label-success{
    background: #23ca69;
}

.label.label-danger{
    background: #f96262;
}
.icon{
color: white;
display: block;
font-size: 40px;
}
.text-center.proj-cont:hover {
    background: rgba(128, 128, 128, 0.11);
    transition: 0.3s;
}
a#chooseKRA {
    color: #ffffff;
    font-size: 15px;
}
#myModal{
  overflow: auto;
}
ul.kra-list {
    display:  grid;
    margin-top: 20px;
    /*-webkit-grid-template-columns: 50% 50%;
    -moz-grid-template-columns: 50% 50%;
    grid-template-columns: 50% 50%;*/
}
ul.kra-list  li{
  border-bottom: 1px solid #fff;
    /*padding: 30px 0;*/
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 70px; /* 70px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 70px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 70px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 70px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 70px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.kra-list li:nth-of-type(odd){
  background-color: #87CEFA;
}
.kra-list li:nth-of-type(even){
  background-color: rgb(176, 226, 255);
}
/*.kra-list li:nth-child(3){
  background-color: #A4D3EE;
}
.kra-list li:nth-child(4){
  background-color: #8DB6CD;
}*/
.kra-list a{
	color: #000000;
	text-transform: initial;
}
.page-kra .btn{
	text-transform: initial;
	font-weight: bold;
}
/*page indicator*/
.cont{
	margin-left: -15px;
	margin-right: -15px;
}
.contain{
  padding-left: 15px;
  padding-right: 15px;
}
.contain:after, .contain:before{
  display: table;
    content: " ";
}
.page-indi .title{
	 margin: 0;
    padding: 15px;
    color: #797979;
    font-weight: 100;
}
.page-indi .main-title{
	margin-bottom: 0;
}
.indi-cat-title{
	margin: 0;
	background-color: #efefef;
}

.indi-title{
	margin: 0;
	padding: 15px;
	font-weight: 100;
	background-color: #efefef;
  color: #8a8a8a;
}
.indi-cont-in{
  position: relative;
  padding: 15px 0;
  background-color: #EE6A50;
  color: #464646;
}
.indi-cont-in:before{
	position: absolute;
	content: '';
	width: 25%;
	left: 0;
	top: 0;
	bottom: 0;
	right: initial;
	background-color: #797979;
	z-index: 1;
}
.indi-cont-in:nth-child(even):before{
  background-color: #929292;
}
.indi-cont-in:nth-child(2){
  background-color: #FFF68F;
}
.indi-cont-in:nth-child(3){
  background-color: #FFC125;
}
.indi-cont-in:nth-child(4){
  background-color: #71C761;
}
.lop-cont{
	min-height: 120px;
}
.flip{
  position: absolute;
  text-align: center;
  font-weight:  bold;
  top: 34%;
  right: 100%;
  left: initial;
  color: #fff;
  font-size: 25px;
  z-index: 2;
}
.flip p{
	min-width: 96px;
}
.page-indi .btn{
	margin: 0;
}
.btn-back{
	background-color: #fd8356;
}
.page-indi .btn{
	text-transform: normal;
}
.page-indi .btm-cont .col{
	padding: 0;
}
/*.page-indi .btm-cont .col:nth-child(1){
	padding-right: 0;
}
.page-indi .btm-cont .col:nth-child(2){
	padding-left: 0;
}*/

/*Carousel fade*/

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

input#checkbox {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    bottom: 0;
}

div#dia {
    display: table-cell;
    vertical-align:  middle;
}

div.modal-wrapp {
    height:  100%;
    display:  table;
    width: 100%;
    margin:  auto;
}

body.modal-open {
    overflow: hidden;
    /*position: fixed;*/
}

button#sendData {
    background: #27b17f;
    padding:  10px;
    margin-left: 0;
}
/* a#sendData {
    padding: 15px;
} */
button#cancel {
    background: #ff584f;
    padding:  10px;
}
#height {
    margin-top: -10px;
    /*height: 440px;*/
    overflow: auto;
}
h1.sr {
    color: #444444;
    font-size: 30px;
    font-weight: bold;
}
thead {
    text-align:  center;
    white-space:  nowrap;
}

tbody#data {
    text-align: center;
}

tr > th{
    text-align: left;
}

h3.kra-name {
    text-align:  left;
    text-overflow:  ellipsis;
}

h4.parent-indicator {
    text-align:  left;
}

h4.modal-title {
    text-align:  left;
}
/*CHECK*/
.v-align{
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    /*background: rgba(0, 0, 0, 0.6);*/
	}

	#bg{
	    background: rgba(255, 255, 255, 0.75);
	    z-index: 2;
	    transition: 0.5s;
	    display: block;
	}
	.d-table{
		display: table;
	    height: 100%;
	    width: 100%;
	}
	.table-cell{
		display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	}
.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

.hide{
  display:hide;
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
  background-color: transparent;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@media(min-width: 480px){
	/*page register*/
	.form-register-cont .btn{
		width: initial;
		padding: 10px 15px;
	}
}
@media(max-width: 768px){
	/*page kra*/
	.proj-cont-right .proj-date:last-child{
		float: none;
		margin-left: 20px;
		margin-right: 0;
	}
}
@media( min-width: 768px){
	.v-align{
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	}
	.d-table{
		display: table;
	    height: 100%;
	    width: 100%;
	}
	.table-cell{
		display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	}
	/*header*/
	.header-cont{
		padding: 0 15px;
		text-align: initial;
	}
	.header-left{
		position: absolute;
		top: initial;
		bottom: 10px;
		left: 30px;
		right: initial;
	}
	.btn-mainmenu{
		display: none;
	}
	.mainmenu-collapse{
		display: block;
		height: initial!important;
	}
	.menu-item{
		position: relative;
		padding: 60px 0;
		text-align: center;
		list-style: none;
	}
	.menu-item:nth-child(odd){
		background-color: #ff3333;
	}
	.menu-item:nth-child(even){
		background-color: #ffcc00;
	}
	.menu-item a{
		position: absolute;
		top: initial;
		bottom: 10px;
		left: 0;
		right: 0;
		text-align: center
	}
  .lop-cont{
    font-size: 16px;
  }
}
@media(min-width: 992px){
	/*page register*/
	.form-register-cont .btn{
		padding: 10px 40px;
	}
	/*header*/
	.header-left .title{
	    margin: 75px 0 0 46px;
	    font-size: 18px;
	}
}
@media(min-width: 1200px){

}
@media(min-width: 1600px){

}
